@import "../shared";

$ww-light-blue-form-element-border-color : #b3c2e8;
$ww-light-blue-buttons-border-color : #00acc8;
$ww-light-blue-color: #00acc8;
$ww-light-blue2-color: #e8edf6;
$ww-light-blue3-color: #e9edf6;
$ww-light-blue4-color: #cdd9f3;
$ww-green-navy-color: #48bfb9;
$ww-green-navy2-color: #00abc7;
$ww-green-navy3-color: #48c0b9;
$ww-light-green-color: #a2ce5f;
$ww-light-green2-color: #a1ce5e;

$ww-dark-gray-color: #abb5be;
$ww-dark-gray2-color: #8e999f;
$ww-dark-gray3-color: #7d858c;
$ww-light-gray-color: #a8a8a8;
$ww-light-gray2-color: #f5f5f5;
$ww-light-gray3-color: #E5E5E5;
$ww-light-gray4-color: #abb5bd;
$ww-light-gray5-color: #dadfe8;
$ww-light-gray6-color: #f3f3f3;
$ww-light-gray7-color: #eee;
$ww-light-gray8-color: #999999;
$ww-dark-blue-buttons-border-color : #0b3b60;
$ww-dark-blue-color: #0b3b60;
$ww-dark-blue2-color: #082b47;
$ww-orange-color: #f15d54;
$ww-light-orange-color: #f5896d;
$ww-purple-color: #8765ab;
$ww-red-color : #FF0000;
$ww-dark-red-color: #c44b9b;
$ww-white-color : #ffffff;

$font-sizes-px: 12, 14, 16, 18, 20, 22, 24, 30;
$font-sizes-rem: 0.8, 0.9, 1, 1.1, 1.2, 1.3, 1.4, 1.5, 1.8, 2, 2.1, 2.4, 2.8;
$font-weights: 500, 600, 700, 800, 900;
$margins: 0,1, 5, 10, 15, 20, 30, 40;
$line-heights: 1, 1.1, 1.2, 1.3;
$paddings: 0, 5, 10, 15, 20, 25, 30, 40;

.form-control[readonly], .form-control, .bootstrap-switch,
.bootstrap-select>.dropdown-toggle.btn-light, .bootstrap-select>.dropdown-toggle.btn-secondary{
    border-color: $ww-light-blue-form-element-border-color !important;
}

/*metronics CSS adoption into canvas theme */

body {
    font-family: 'Lato',sans-serif !important;
}

.m-form .m-form__help {
    font-size: inherit!important;
}
.form-control-feedback {
    font-size: inherit!important;
}
.m-portlet__head-center {
    align-items: center!important;
    justify-content: center!important;
}
.ww-ff-raleway {
    font-family: 'Raleway',sans-serif !important;
}

.ww-portlet {
    border: 1px solid #E5E5E5!important;
    border-radius: 3px!important;
    box-shadow: none!important;
}

.m-form .m-form__actions {
    padding: 10px!important;
}

form {
    margin-bottom: 0px!important;
}

.m-bootstrap-select button {
    height: calc(2.95rem + 2px);
}

form label.required:after {
    color: $ww-red-color;
    content: " *";
}

/*application form custom styles */

#top-bar h2.application,
h3.application {
    color : $ww-dark-blue-color !important;
    font-size: 1.8rem!important;
    font-weight: 600!important;
}
.application-subtitle {
    font-size:1.2rem!important;
}
.application-wizard {
    max-width: 700px;
    margin: 0px auto;
    font-family: inherit !important;
}
.application-text-style {
    font-family: 'Raleway',sans-serif !important;
}
.application-form .for-checkbox-boxed i {
    display: block;
    font-size: 3rem;
    margin-bottom: 0.5rem
}

.backToHomePage { text-transform: uppercase; }
.application-body .m-content {
    padding:30px;
}

.ww-float-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width : 1024px) {
    .application-body .m-content {
        padding:0px;
    }

}
.application-body .m-form .btn {
    max-width: 240px;
    margin:0 auto;
    font-size:1rem !important;
}

.m-form__heading-title.application {
    font-family: 'Raleway';
    text-transform:uppercase;
    font-weight:800!important;
    font-size:1.7rem!important;

}
.application-body .m-form.m-form--group-seperator-dashed .m-form__group {
    padding-bottom:0px;
    padding-top:10px;
}
.application-body .application-wizard {
    font-family: Lato,sans-serif!important;
    font-weight: 400;
}

.skipident {
    background-color: #48c0b9!important;
    border-color: #48c0b9!important;
    display: inline-block;
    padding: .55rem 3.35rem;
    font-size: 1.5rem!important;
    font-family: "Raleway", sans-serif !important;
    font-weight: 500!important;
    color: #ffffff!important;
    text-align: center;
    /* white-space: nowrap;*/
    vertical-align: middle;
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.25;
    border-radius: .25rem;
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}

/*ww custom stylesheets */
.ww-h4-footer {
    font-size: 16px!important;
    font-weight: 600!important;
    line-height: 1.5!important;
    line-height: 1.5!important;
    margin: 0 0 30px!important;
    font-family: 'Raleway',sans-serif!important;
}

.input-group .input-group-append>.input-group-text>i, .input-group .input-group-prepend>.input-group-text>i {
    color: inherit !important;
}


.btn-ww-light-blue {
    color: $ww-white-color!important;
    background-color: $ww-light-blue-buttons-border-color!important;
    border-color: $ww-light-blue-buttons-border-color!important;
}

.btn-ww-light-blue:hover {
    color: $ww-white-color!important;
    background-color: $ww-dark-blue-buttons-border-color !important;
    border-color: $ww-dark-blue-buttons-border-color !important;
}

.btn-ww-light-blue.hover-navy:hover {
    color: $ww-white-color!important;
    background-color: $ww-green-navy-color !important;
    border-color: $ww-green-navy-color !important;
}

.ww-dark-blue-bg-color {
    background-color: $ww-dark-blue-color !important;
}

.ww-dark-blue-border-color {
    border-color: $ww-dark-blue-color !important;
}

.ww-dark-blue-color {
    color: $ww-dark-blue-color !important;
}

.ww-dark-blue2-bg-color {
    background-color: $ww-dark-blue2-color !important;
}

.ww-light-blue-color {
    color: $ww-light-blue-color !important;
}

.ww-light-blue-bg-color {
    background-color: $ww-light-blue-color !important;
}

.ww-light-blue2-bg-color {
    background-color: $ww-light-blue2-color !important;
}

.ww-light-blue2-border-color {
    border-color: $ww-light-blue2-color !important;
}

.ww-light-blue3-bg-color {
    background-color: $ww-light-blue3-color !important;
}

.ww-light-blue4-bg-color {
    background-color: $ww-light-blue4-color !important;
}

.ww-green-navy-color {
    color: $ww-green-navy-color !important;
}

.ww-green-navy2-color {
    color: $ww-green-navy2-color !important;
}

.ww-green-navy3-color {
    color: $ww-green-navy3-color !important;
}

.ww-green-navy3-bg-color {
    background-color: $ww-green-navy3-color !important;
}

.ww-green-navy-bg-color {
    background-color: $ww-green-navy-color !important;
}

.ww-green-navy2-bg-color {
    background-color: $ww-green-navy2-color !important;
}

.ww-green-navy-border-color {
    border-color: $ww-green-navy-color !important;
}

.ww-light-green-color {
    color: $ww-light-green-color !important;
}

.ww-white-color {
    color: $ww-white-color !important;
}

.ww-white-bg-color {
    background-color: $ww-white-color !important;
}

.ww-light-green-bg-color {
    background-color: $ww-light-green-color !important;
}


.ww-light-green-color {
    color: $ww-light-green-color !important;
}

.ww-light-green2-color {
    color: $ww-light-green2-color !important;
}

.ww-light-green2-bg-color {
    background-color: $ww-light-green2-color !important;
}

.ww-light-green2-border-color {
    border-color: $ww-light-green2-color !important;
}

.ww-light-gray-color {
    color: $ww-light-gray-color !important;
}
.ww-light-gray8-color {
    color: $ww-light-gray8-color !important;
}

.ww-light-gray-bg-color {
    background-color: $ww-light-gray-color !important;
}

.ww-light-gray2-bg-color {
    background-color: $ww-light-gray2-color !important;
}

.ww-light-gray3-bg-color {
    background-color: $ww-light-gray3-color !important;
}

.ww-light-gray4-bg-color {
    background-color: $ww-light-gray4-color !important;
}

.ww-light-gray5-bg-color {
    background-color: $ww-light-gray5-color !important;
}

.ww-light-gray6-bg-color {
    background-color: $ww-light-gray6-color !important;
}

.ww-light-gray7-border-color {
    border-color: $ww-light-gray7-color !important;
}


.ww-dark-gray-color {
    color: $ww-dark-gray-color !important;
}
.ww-dark-gray3-color {
    color: $ww-dark-gray3-color !important;
}
.ww-dark-gray-bg-color {
    background-color: $ww-dark-gray-color !important;
}

.ww-dark-gray2-bg-color {
    background-color: $ww-dark-gray2-color !important;
}


.ww-dark-gray-border-color {
    border-color: $ww-dark-gray-color !important;
}

.ww-light-gray-border-color {
    border-color: $ww-light-gray-color !important;
}

.ww-light-gray2-border-color {
    border-color: $ww-light-gray2-color !important;
}

.ww-light-gray3-border-color {
    border-color: $ww-light-gray3-color !important;
}

.ww-orange-color {
    color: $ww-orange-color !important;
}

.ww-light-orange-color {
    color: $ww-light-orange-color !important;
}

.ww-purple-color {
    color: $ww-purple-color !important;
}
.ww-dark-red-color {
    color: $ww-dark-red-color !important;
}

.ww-pd-aside-5-px {
    padding-top:0px!important;
    padding-bottom:0px!important;
    padding-right: 5px!important;
    padding-left: 5px!important;
}

.ww-pd-aside-0-px {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.ww-m-0-px {
    margin: 0px!important;
}

.ww-bb-1-px {
    border-bottom: 1px solid;
}

.ww-bt-1-px {
    border-top: 1px solid;
}

.ww-pl-0-px {
    padding-left: 0px;
}
.ww-top-85-per {
    top:85% !important;
}

.ww-circle{
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    width:80px;
    height: 80px;
}

.ww-circle-small{
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    width:35px;
    height: 35px;
}

.ww-heading-block-center:after {
    margin: 30px auto 0;
    content: '';
    display: block;
    width: 40px;
    border-top: 2px solid;
}
.ww-bb-1-px {
    border-bottom: 1px solid;
}
.ww-aligned-ul {
    padding: 17px;
    font-size: 1.0rem;
    text-align: justify;
}
.ww-aligned-ul li:first-letter{
    text-transform: capitalize
}
.vertical-promotion-box {
    transform: rotate(270deg);
    transform-origin: left top 0px;
    right: 3px;
    position: fixed;
    z-index: 100000;
    width: 36px!important;
}

.vertical-promotion-box a {
    border-radius: 0px!important;
    text-transform: unset;
}

.ww-spacer-center:after {
    margin: 30px auto 0;
}

.ww-p {
    font-size: 1rem;
    text-align: left;
}

.ww-h {
    margin: 10px 0 5px 0px;
}

.ww-cursor-pointer {
    cursor: pointer;
}
.ww-form-error-inline {
    max-height: 10px;
    height: 10px;
    border: 1px solid transparent;
}

.ww-fbox-img {
    background-color: transparent!important;
    border:none!important;
    border-radius: unset!important;
}

.ww-full-gradient-bg {
    position: absolute;top: 0;left: 0;width: 100%;height: 100%;
    background: radial-gradient(ellipse at bottom center, #01e0e8 0%, #003350 75%);
    background: -webkit-radial-gradient(ellipse at bottom center, #01e0e8 0%, #003350 75%);
    background: -moz-radial-gradient(ellipse at bottom center, #01e0e8 0%, #003350 75%);
    background: -o-radial-gradient(ellipse at bottom center, #01e0e8 0%, #003350 75%);
}

.ww-text-shadow-none {
    text-shadow: none;
}

.ww-mw-none {
    max-width: none!important;
}

.ww-tr-bg-color {
    background-color: transparent!important;
}

.ww-bxsh-none {
    box-shadow: none!important;
}
.ww-ul {
    padding-left: 30px!important;
}
.ww-li {
    list-style-type: none;
    list-style-position: inside;
    text-indent: -1.25em;
    padding-left: 1em;
}

.ww-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ww-heading-text {
    font-family: 'Raleway',sans-serif;
    color: #0b3b60 !important;
    font-weight: 500;
}

.ww-height-auto {
    height: auto!important;
}
.subtitle {
    margin-top: 30px;
    margin-bottom: 30px;
}
#top-bar {
    z-index: 100;
    border-bottom: 0px;
    background: #f15c55
}
#top-bar a {
    border-color: #f15c55;
    color:#f25e54;
    background: #ffffff;
    border-radius: 5px;
}

#top-bar h3 {
    margin: 0px;
    font-weight: normal;
}

#top-bar h2, h3{
    color: $ww-white-color!important;
}

.dark .social-icon i:last-child {
    color: $ww-dark-blue-color !important;
}
.iconlist li {
    font-size: 1.0rem;
}

.iconlist.lastlist {
    margin-top: 0px;
}
.m--hide {
    display:none !important;
}
.button .spinner, button .spinner {
    display: none;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.65;
}

.button:disabled .spinner, button:disabled .spinner {
    display: inline-block;
}

.promo:not(.promo-full) {padding: 0px !important;}

.has-danger {
    color: $ww-red-color!important;
}

.has-danger label {
    color: $ww-red-color!important;
}
.has-danger .sm-form-control {
    border-color: $ww-red-color!important;
}
.icon-in-inputs {
    position: relative;
    right: 15px;
    top: -30px;
}
.m-input-icon__icon--right {
    float: right;
}
.m-input-icon--right .sm-form-control {
    padding-right: 30px;
}
h2.slogan {
    font-size: calc(50px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)))!important;
    letter-spacing: 0.1rem!important;
}
h3.slogan {
    font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
    letter-spacing: 0.2rem!important;
    margin-bottom: -13px!important;
    margin-top: 10px!important;
}

#logo {
    height: 100px;
    a {
        padding: 30px 0px;
        img {
            max-height: 40px;
        }
    }
}

.sticky-header, .responsive-sticky-header {
    #logo {
        height: 60px;
        a {
            padding: 15px 0px;
            img {
                max-height: 30px;
            }
        }
    }
}
.feature-box.fbox-bg.fbox-center {
    padding-left: 15px;
    padding-right: 15px;
}

#header.dark:not(.transparent-header) { background-color: $ww-dark-blue-color!important; }

.heading-block:after {
    margin-left: auto;
    margin-right: auto;
    border-color: $ww-dark-blue-color!important;
}

.heading-block.white:after {
    border-color: $ww-white-color!important;
}
.one-page-arrow {
    display: block !important;
}
.form-control.has-error, .sm-form-control.has-error {
    border-color: $ww-red-color!important;
}
.swiper-slide {
    height: calc(100vh - 126px);
    width: 100vw;
}
.swiper_wrapper .swiper-container {
    background: none!important;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
@import '~bootstrap-select/dist/css/bootstrap-select.min.css';
@import "~jquery-confirm/dist/jquery-confirm.min.css";
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.application-body {
    font-family: "Raleway", sans-serif !important;
}


//small devices e.g. iphone 5
@media only screen and (min-device-width : 320px) and (max-device-width : 374px) and (-webkit-min-device-pixel-ratio: 2) {

}

//small devices e.g. iphone 5
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-min-device-pixel-ratio: 2) {

}
//small device e.g. iphone 5 when landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and  (orientation : landscape) {

}

//most of small device
@media (max-width: 575.98px) {
    h3.slogan {
        margin-top: -13px;
        margin-top: 5px;
    }
}


@media only screen and (max-width: 768px) {

}

//most of small device when landscape max-width <768
@media screen and (max-width: 767.98px) and  (orientation : landscape) {

}

//most of small device when landscape
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

}

//iphone x landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

}

//ipad portrait
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

}

//ipad when landscap
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {

}

//ipad-pro when portrait
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {

}

//some fablets
@media only screen and (min-width: 768px) {

}

//laptop max-width <992
@media screen and (max-width: 991.98px) {

}

//laptops lg
@media (min-width: 992px) {

}

//desktop
@media (min-width: 1200px) {

}
